* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(61, 94, 61);
}

.main {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
} 

#hamburgerIcon {
    width: 60px;
    background-image: url(/hamburgerMenu.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    background-color: #f98f39;
}

#hamburgerIcon:hover {
    background-color: #987253;;
} 


#sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    left: -300px;
}


#sidebar > label {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
}

.btn {
    font-size: 25px;
    margin-left: 10px;
}

label:hover {
    border: 2px solid #fff;
}

label:visited {
    border: 2px solid #000;
}

.btnGreen {
    background: rgb(61, 94, 61);  
}

.btnYellow {
    background: rgb(191, 183, 35);
}

.btnRed {
    background: rgb(186, 48, 48);
}

.btnPurple {
    background: rgb(111, 55, 94);
}

.btnPink {
    background: rgb(230, 89, 89);
}